<%= form_for(@enroll) do |f| %>
  <% if @enroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enroll.errors.count, "error") %> prohibited this enroll from being saved:</h2>

      <ul>
      <% @enroll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "student id" %><br>
    <%= f.text_field :student_id %>
    <br>
    <%= f.label "Course name" %><br>
    <% if @enroll.persisted? %>
      <%= f.text_field :course_name %>
    <%else%>
      <%= f.text_field :course %>
    <%end%>
    <br>
    <%= f.label :percentage %><br>
    <%= f.text_field :percentage %>
    <br>
    <%= f.label "letter grade" %><br>
    <%= f.text_field :lettergrade %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
