<p id="notice"><%= notice %></p>

<h1>Course Details:</h1>

<p>
  <strong>Course ID:</strong>
  <%= @course.id %>
</p>

<p>
  <strong>Course Name:</strong>
  <%= @course.course %>
</p>

<p>
  <strong>Course Description:</strong>
  <%= @course.description %>
</p>

<hr>

<h1>Enrollments in Course:</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course["student_id"]%>, <%= course["percentage"]%>, <%= course["lettergrade"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', courses_path %>
<%= link_to 'Assign Grades', a2_histogram_path(@course)%>
